.container {
    background-image: url("images/crossline-dots.png");
    
}

#toprow {
    background: #4aaaaf;
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
    
}
#content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 500px;
}
#about {
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
}
#contact {
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
}
#portfolio {
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
}
#navrow {
    background:#ffffff;

}
    
#name {
    padding:5px;
    background-color: #4aaaaf;
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
}
#aboutmebox {
    border: 2px solid rgb(214, 210, 210);
    height: 300px;
    background: #ffffff;
}
#textcontent {
    background: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}

#profilepic {float: left;
    margin:20px;
    margin-bottom: 
    0px;
    height:200px;   
    width: 200px; 
    background-image: url("images/profileimage.jpg");

}
footer {
    margin:0;
    background-color: #4aaaaf;
    text-align: center;
    color:#ffffff;
    font: size 10px;  
}

    
    
    
